::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #00c3ff, #00ade2, #0097c5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 160, 210);
    background: linear-gradient(to bottom, #0097c5, #00ade2, #00c3ff);
}

@font-face {
    font-family: 'Google Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Google Sans Regular'), url('fonts/Google-sans.woff') format('woff');
}

body {
    font-family: 'Google Sans Regular';
    margin: 0;
    background: #383838;
    color: white;
}

header h1 a {
    color: white !important;
    text-decoration: none;
}

footer {
    background-color: #2E2E2E;
    font-size: 0.9em;
}
