<!DOCTYPE html><html lang="id">
    <head>    
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
        <script>
            if (localStorage.getItem('theme') === 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        </script>
    </head>
    
    <body>
        <div class="wrapper">
            <header>
                <button id="theme-toggle">Dark Mode</button>
                <br>
                <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
                <p>{{ site.description }}</p>

                <a href="https://trakteer.id/nurjavier1660/tip" target="_blank">
                    <img id="wse-buttons-preview" src="https://edge-cdn.trakteer.id/images/embed/trbtn-blue-2.png?v=14-05-2025" height="40" style="border: 0px; height: 40px; --darkreader-inline-border-top: currentcolor; --darkreader-inline-border-right: currentcolor; --darkreader-inline-border-bottom: currentcolor; --darkreader-inline-border-left: currentcolor;" alt="Trakteer Saya" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left="">
                </a>
            </header>
            
            <section>
                {{ content }}
            </section>
            
            <footer>
                {% include footer.html %}
            </footer>
        </div>

        <script>
            const toggleButton = document.getElementById('theme-toggle');
            
            if (document.documentElement.getAttribute('data-theme') === 'dark') {
                toggleButton.innerHTML = 'Light Mode';
            }
            
            toggleButton.addEventListener('click', () => {
                let theme = document.documentElement.getAttribute('data-theme');
                if (theme === 'dark') {
                    document.documentElement.removeAttribute('data-theme');
                    localStorage.setItem('theme', 'light');
                    toggleButton.innerHTML = 'Dark Mode';
                } else {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem('theme', 'dark');
                    toggleButton.innerHTML = 'Light Mode';
                }
            });
        </script>
    </body>
</html>